@model CouponsKE.Models.Deals

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Deals</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DealName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DealName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DealDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DealDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DealRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DealRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OldPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OldPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DealsID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
