@model CouponsKE.Models.Coupon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Coupon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoreID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouponCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouponCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouponCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouponCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Restrictions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Restrictions)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CouponID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
