@model CouponsKE.Models.TrackedPrice

@{
    ViewData["Title"] = "Details";
    var product = (CouponsKE.Models.Product)ViewData["product"];
}

@*<h1>My Tracked Product</h1>*@

<div>
    <h4>@product.ProductName</h4>
    <hr />
    <form asp-action="Delete">
        <dl class="row">
            <dt class="col-sm-2">
                <img src="@product.ImageUrl" style="height:250px" alt="@product.ProductName" />
            </dt>
            <dd class="col-sm-10">
            </dd>
            <dt class="col-sm-2">
                Description
            </dt>
            <dd class="col-sm-10">
                @product.ProductDescription
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LowestPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LowestPrice)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StoreWithLowestPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StoreWithLowestPrice)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DesiredPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DesiredPrice)
            </dd>
            <dt class="col-sm-2">
                <button class="btn btn-outline-danger" type="submit">DELETE</button>
            </dt>
        </dl>
    </form>
</div>
<form asp-action="Index">
    <input type="hidden" name="productID" value="@product.ProductID" />
    <div class="input-group mb-3">
        <input type="number" class="form-control" name="desiredPrice" placeholder="New price" aria-label="Desired Price" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Edit desired price</button>
        </div>
    </div>
</form>
