@model CouponsKE.Models.Product
@{
    ViewData["Title"] = "ProductLink";
}

<h4 class="text-center">Enter a product link</h4>
<hr />
<form asp-action="ProductLink">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <i class="fa fa-search"></i>
            </div>
        </div>
        <input type="text" class="form-control" name="url" placeholder="Enter url" autocomplete="off" aria-label="Search item" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Load</button>
        </div>
    </div>
    <div class="text-center">
        <a asp-action="Create">Search for a product instead.</a>
        @*<div class="col-md-3"></div>
            <div class="form-check col-md-2">
                <input type="checkbox" class="form-check-input" id="searchJumia">
                <label class="form-check-label" for="searchJumia">Jumia</label>
            </div>
            <div class="form-check col-md-2">
                <input type="checkbox" class="form-check-input" id="searchKilimall">
                <label class="form-check-label" for="searchKilimall">Kilimall</label>
            </div>
            <div class="form-check col-md-2">
                <input type="checkbox" class="form-check-input" id="searchMasoko">
                <label class="form-check-label" for="searchMasoko">Masoko</label>
            </div>
            <div class="col-md-3"></div>*@
    </div>
</form>
<hr />
@if (Model != null)
{
    int descriptionLength = Model.ProductDescription.Length < 200 ? Model.ProductDescription.Length : 200;
<form asp-action="Index">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <img class="card-img-right flex-auto d-none d-md-block" alt="Product image" style="width: 200px; height: 250px;" src="@Model.ImageUrl" data-holder-rendered="true">
        <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">@Model.ProductCategory</strong>
            <h3 class="mb-0">
                <a class="text-dark" href="@Model.StoreLink">@Model.ProductName</a>
            </h3>
            <div class="mb-1 text-muted">SKU: @Model.SKU</div>
            <p class="card-text mb-auto">@Model.ProductDescription.Substring(0, descriptionLength)...</p>
            <div>
                <text class="text-black font-weight-bold">Current price: KSh. <text class="card-text text-danger mb-auto">@Model.Price</text></text>
                <div class="input-group mb-3">
                    <input type="number" class="form-control" name="desiredPrice" placeholder="Enter desired price" aria-label="Desired Price" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Set</button>
                    </div>
                    <input type="hidden" name="productID" value="@Model.ProductID">
                </div>
            </div>
        </div>
    </div>
</form>
}

